@import url("reset.css");

body, html {
    height: 100%;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1rem;
    border: 1px solid red;
}

/* Navbar Styling */

.navbar {
    display: flex;
    grid-column: 1 / -1;
    justify-content: space-between;
}

/* Navbar 1 Styling */

.navbar-1 {

}

.navbar-1 ul {
}

.navbar-1 .ul-1 {

}

.navbar-1 .ul-2 {

}